.root {
    min-width: 280;
    width: 400px;
}
.bullet {
    display: inline-block;
    margin: '0 2px';
    transform: 'scale(0.8)';
  }
.title {
  font-size: 14,
}
.pos {
  margin-bottom: 12,
}
@media only screen and (min-width: 300px) {
  .root {
    width: 100%;
    flex-direction: column;
    flex: 30px;
    flex-grow: 2;
  },
  .title {
    font-size: 14,
  }
}

@media only screen and (min-width: 700px) {
  /* For tablets: */
  .root {
    width: 500px;
    flex-direction: column;
    flex: 30px;
    flex-grow: 2;
  }
  .title {
    font-size: 16px,
  }
}
@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .root {
    min-width: 600px;
    width: 400px;
    flex-direction: column;
    flex: 30px;
    flex-grow: 2;
    font-size: 20px;
  }
  .title {
    font-size: 20px,
  }
}